
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <a class="brand" href= <%= root_path %>>MeetMeHere</a>
    <ul class="nav">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Categories", categories_path %></li>
      <li><%= link_to "Owners", owners_path %></li>
      <li><%= link_to "About", about_path %></li>
      <% if owner_signed_in? %>
        <li><%=link_to "Meetings Dashboard", dashboard_path(current_owner), method: :delete %></li>
      <% end %>
    </ul>


    <ul class="nav pull-right">
      <li>
      	<% if owner_signed_in? %>
          <li><%=link_to "Sign Out", destroy_owner_session_path, method: :delete %></li>
      	<% else %>
      		<%= link_to "Sign In", new_owner_session_path, class: "float-right" %>
      	<% end %>
      </li>
    </ul>

  </div>
</div>